.subtotal {
    border: 0.3rem black solid;
    padding: 2.5rem;
    background-color:  #eaece5;;
    width: 50rem;
    margin-top: 13%;
    margin-right: 35px;
    border-radius: 0.5rem;
  }
  
  .checkout__button {
    font-weight: 600;
    cursor: pointer;
    margin: auto;
    background-color:#eaece5;
    font-size: 1.5rem;
    margin-top: 2rem;
    border-radius: 10rem;
    padding: 1rem;
    border: 0.2rem solid black;
    box-shadow: 0rem 0.5rem 0.5rem white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:  Tahoma, Geneva,  sans-serif;
  }
  
  .checkout__button:hover {
    box-shadow: 0rem 0.7rem 0.5rem rgb(131, 125, 125);
    top: -0.3rem;
  
  }
  
  .subtotal__details {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: start;
    margin-top: 1rem;
    background-color:#eaece5;
    font-family: Tahoma, Geneva,  sans-serif;
  }
  
  .subtotal__details label {
    margin-top: 1rem;
    margin-bottom: 0.8rem;
  }
  
  .subtotal__details input {
    font-family: inherit;
    height: 2.5rem;
    width: 35rem;
    padding: 0.5rem;
    background-color:#eaece5;
  }
  
  h3,
  h4 {
    margin: auto;
    text-align: center;
  }
  
  h4 {
    margin-top: 2rem;
  }