.button {
    font-family: inherit;
    margin: 2.5rem auto;
    text-align: center;
    background-color: #EAECE5;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  
  .button:hover {
    transform: scale(1.1);
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgb(192, 192, 192);
  }