.search-container{
    margin-bottom: 20%;
}
.sidebar-container{
    background-color: #fff;
      display: flex; 
     width: 18%;
     flex-direction: column;
     padding-left: 30%;
     padding:0.2rem ;
     border-radius: 0.1rem  ;
 
     
 }
 .sidebar-filters{
     padding-left: 0.1rem;
     text-align: center;
 }
 .filterLabel{
     margin:0.2rem ;
     
 }