body {
  background-color: white;
  font-family: Roboto;
}

.Navbar {
  
  /* position: fixed;
  top: 0;
  left: auto;
  right: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  font-family: Roboto;
  
  z-index: 1000;
  box-shadow: 0px 0px 5px silver; */
 
  

  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#EAECE5;
}

.Navbar nav {
  margin-left: 95rem;
}

.Navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items:baseline;
}

.Navbar li {
  margin-left: 3rem;
}

.homeIcon{
  color: black;
  font-size: large;
}

.personIcon{
  color: black;
  font-size: large;
}

.cartIcon{
  color: black;
  font-size: large;
}

.Toolbar {
  display: flex;
  min-height: 56px;
  align-items: center;
  padding: 0px 10px;
  
}


