.search-container{
    margin-bottom: 20%;
}
.sidebar-container{
    background-color: #fff;
      display: flex; 
     width: 18%;
     flex-direction: column;
     padding-left: 30%;
     padding:0.2rem ;
     border-radius: 0.1rem  ;
     
 }
 .sidebar-filters{
     padding-left: 0.1rem;
     text-align: center;
 }
 .filterLabel{
     margin:0.2rem ;
     
 }
 
 /* .sidebar-button{
     display: flex;
     justify-content: center;
 }
 .clearFilters{
     margin:1.9rem 0;
     width:8vw;
     font-size: 1.2rem;
     font-weight: 100;
     padding:0.34rem;
     color:black;
     background-color:whitesmoke;
     border:none ;
     border-radius: 4px;
     cursor: pointer;
     letter-spacing:1px;
     transition: 0.3s ease-out;
     box-shadow: rgba(63, 23, 23, 0.24) 0 2px 10px 5px;
 }
 .clearFilters:hover{
     background-color: white;
     color: #000;
     letter-spacing:5px;
     transition: 0.3s ease-in;
 } */